.buttonContainer {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: auto;
    cursor: default;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0);
    outline: none;
    z-index: 0;
}

.btn:focus,
 .btn:not(:focus),
 .btn:hover {
    outline: none;
    border: none;
}

.btn > img {
    padding: 1.5px;
    z-index: 5;
}