.buttonContainer {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: auto;
    align-items: center;
    cursor: default;
}

.buttonIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,1);
    outline: none;
    cursor: pointer;
}

.buttonIcon:focus,
 .buttonIcon:not(:focus),
 .buttonIcon:hover {
    outline: none;
    border: none;
}

.buttonIcon > img {
    padding: 1.5px;
    z-index: 999;
}