.mainView {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit;
    z-index: 0;
}

.nav {
    width: 100%;
}

.cards {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 10px 10px 10px 20px;
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.cards:hover {
    padding: 2px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
}

.create {
    display: flex;
    flex-direction: row;
    padding: 10px 0px 5px 15px;
}

.createNew {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
}

.createNew:hover,
 .createNew:focus {
    border: none;
    outline: none;
}

.createNew > img {
    height: inherit;
    width: inherit;
}

.mainView > hr {
    border: 1px solid rgba(0,0,0,0.15);
    width: 97%;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.5);
}