.mainView {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: auto;
    z-index: 0;
}

.nav {
    width: 100%;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    text-align: center;
    align-items: center;
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.cards:hover {
    padding: 2px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
}

.mainContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.options {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0,0,0,0.2);
    padding-top: 5px;
}

.createNew {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
}

.createNew:hover,
 .createNew:focus {
    border: none;
    outline: none;
}

.frmVerticalGallery {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    height: auto;
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.5);
    border-top: none;
    background-color: rgba(255,255,255,1);
    z-index: 999;
}

.frmAddBusiness {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.frmInputArea {
    display: flex;
    justify-content: center;
    min-height: 50px;
    height: auto;
}

.frmButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}