.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: auto;
}

.inputContainers {
    display: flex;
    flex-direction: row;
}