.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.inputContainers {
    display: flex;
    flex-direction: row;
}