.chartOfAccounts {
    width: inherit;
    text-align: center;
    margin-right: 1.5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.inputContainers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
