.chartOfAccounts {
    display: flex;
    flex-direction: column;
    width: inherit;
    text-align: center;
    margin-right: 1.5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.inputContainers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.aside {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    height: 100%;
}

.body {

}

.asideBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}