.chartOfAccounts {
    display: flex;
    flex-direction: column;
    width: inherit;
    text-align: center;
    margin-right: 1.5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.inputContainers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.aside {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    height: 100%;
    align-items: center;
}

.title {
    border-top: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 100%;
}

.body {
   height: auto;
}

.asideBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
    width: 100%;
}
