.search {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit;
    overflow-y: hidden;
    align-items: center;
}

.inputArea {
    margin: 5px 0px 5px 7px;
    width: 95%;
}

.inputNotClicked {
    width: 94%;
    border-radius: 5px;
    text-align: center;
    color: rgba(0,0,0,0.3);
}

.inputClicked {
    width: 94%;
    border-radius: 5px;
    text-align: center;
    color: rgba(0,0,0,1);
}

.searchGallery {
    height: 90%;
    width: 94%;
    y-overflow: auto;
    background-color: rgba(255,255,255,1);
    border: 1.5px solid rgba(0,0,0,0.4);
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 5px;
}

.row:nth-child(even) {
    background-color: rgba(0,0,0,0.15);
}

.row:hover {
    background-color: rgba(0,0,0,0.3);
}

