.card {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0);
    overflow: none;
    z-index: 100;
}

.bodyColumns {
    display: flex;
    height: auto;
    width: 101%;
    background-color: rgba(0,0,0,0);
    font-weight: bold;
    cursor: pointer;
    font-size: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.bodyRows {
    display: flex;
    flex-direction: row;
    height: inherit;
    width: inherit;
    border-radius: 5px;
    margin-bottom: 2px;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0px;
    background-color: rgba(0,0,0,0);
    z-index: 100;
}

.data {
    display: flex;
    flex-direction: column;
    padding: 2px;
    font-size: 10px;
    width: inherit;
}

.events {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 100;
    font-weight: bold;
    font-size: 10px;
    border: 1px solid green;
}

.mainBody {
    display: flex;
    align-items: center;
    height: inherit;
    background-color: rgba(0,0,0,0);
}


.mainBodyAlt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -2px;
    padding-left: 15px;
    width: inherit;
    border-radius: 2px;
    background-color: rgba(0,0,0,0);
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 20;
}

.mainBodyAlt > button {
    border: none;
    justify-content: center;
    width: 100%;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    padding-right: 10px;
    font-size: 14px;
}

.mainBodyAlt > img {
    height: 15px;
}

.mainBodyAlt > .rightOperation {
    position: absolute;
    margin-left: 215px;
    height: 20px;
    border: none;
    width: 20px;
    align-items: center;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    z-index: 100px;
}

.mainBodyAlt > .leftOperationActive {
    position: absolute;
    left: 0;
    margin-left: 10px;
    height: 20px;
    width: 25px;
    align-items: center;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    border: none;
    z-index: 100px;
}

.rightOperation > img,
.leftOperation> img {
    height: 15px;
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: default;
}

.mainBodyAlt > .leftOperationInactive {
    display: flex;
    width: 25px;
    align-items: center;
    background-color: rgba(0,0,0,0);
    cursor: default;
}

.mainBodyAlt > .leftOperationInactive > img {
    height: 15px;
    cursor: default;
}

.imgRightOperation,
.imgLeftOperation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    padding: 5px;
    cursor: default;
}

.mainBodyAlt:hover {
    margin-left: 1px;
    background-color: rgba(0,0,0,0.15);
}

.static {
    background-color: rgba(0,0,0,0);
    cursor: arrow;
    border: none;
}

.static:hover {
    cursor: arrow;
}

.hide {
    display: none;
}

.rightOperation,
 .rightOperation:focus,
 .rightOperation:not(:focus),
 .leftOperation,
 .leftOperation:focus,
 .leftOperation:not(:focus) {
    outline: none;
    border: 1px solid red;
}
