.listViews {
    display: inline-flex;
    height: inherit;
    width: inherit;
    overflow-x: auto;
}

.aside {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 102%;
    min-width: 200px;
    padding: 5px;
    border-right: 1px solid rgba(0,0,0,0.3);
}

.input {
    border-radius: 5px;
}

.hide {
    display: none;
}