.listViews {
    display: inline-flex;
    height: inherit;
    width: 100%;
    overflow-x: hidden;
    flex-grow: 1;
}

.aside {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0,0,0,0.3);
}

.input {
    border-radius: 5px;
}

.hide {
    display: none;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 15px;
    width: 100%;
    height: auto;
    font-size: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-top: 1px solid rgba(0,0,0,0.3);
}

.controlCounter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
    cursor: default;
}