.listViews {
    display: inline-flex;
    height: inherit;
    width: 100%;
}

.aside {
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding: 5px;
    border-right: 1px solid rgba(0,0,0,0.3);
}

.input {
    border-radius: 5px;
}

.hide {
    display: none;
}