html, body {
    overflow-y: hidden;
}
.app {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    font-family: 'Cambria', 'sans-serif';
}
