.outerContainer {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.outerInputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.innerInputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.input {
    border-radius: 5px;
    flex: 1;
}

.dropdown,
 .dropdown:hover,
  .dropdown:focus {
    position: absolute;
    top: 18px;
    left: 0;
    width: 99.5%;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 0px 0px 5px 5px;
    background-color: rgba(253,253,253,1);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    flex: 1;
}

.dropdown button,
 .dropdown button:hover,
  .dropdown button:focus {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-radius: 0;
    width: 100%;
    font-size: 12px;
    text-align: left;
    text-align: left;
}

.dropdown button:hover {
    background-color: rgba(0,0,0,0.3);
}

.btn {
    margin-left: -10px;
    z-index: 0;
}

.errors {
    display: flex;
    position: absolute;
    top: 20px;
    padding: 2px;
    flex: 1;
}
