.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.input {
    border-radius: 5px;
    min-width: 0;
    flex: 1;
}

.btn {
    margin-left: -10px;
    z-index: 0;
}