.inputTextBox {
    display: flex;
    margin: 5px;
}

.input {
    width: 100%;
    border-radius: 5px;
}

.errors {
    display: flex;
    justify-content: center;
    width: 100%;
}

.placeholder {
    visibility: hidden;
}

