.card {
    display: flex;
    flex-direction: columns;
    width: auto;
    height: auto;
}

.container {
    display: inherit;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.debit,
 .credit {
    display: inherit;
    flex-direction: inherit;
    justify-content: space-around;
    height: 100%;
    width: 50%;
}
