.card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    overflow: hidden;
}

.topContainers,
 .titles {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
}

.titles {
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0.1);
    font-weight: bold;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: -5px;
    flex: 1;
}

.container,
 .entryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 5px;
    min-width: 0;
    flex: 1;
}

.notes {
    display: flex;
    padding: 5px 5px 10px 5px;
    width: 100%;

}

.notes > textarea {
    border-radius: 5px;
    max-width: 85%;
    flex: 1;
}

.debitContainer,
 .creditContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 5px;
    min-width: 0;
    flex: 1;
}

.debitContainer {
    border-right: 1px solid rgba(0,0,0,0.3);
}

.titles > .container {
    padding-left: -15px;
    border: 2px solid green;
}

.container > img {
    border: 1px solid blue;
}

.container > textarea {
    border-radius: 5px;
    height: 50px;
    flex: 0.97;
}

.subContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;;
    min-width: 0;
    flex: 1;
    margin: 5px;
    justify-content: space-between;
}

.buttons {
    display: flex;
    height: 20px;
    width: 20px;
    justify-content: center;
}

.accountOptions {
    height: 18px;
    border-radius: 5px;
    min-width: 0;
    flex: 1;
}

.entryAmount {
    height: 15px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgba(0,0,0,1);
    min-width: 0;
    flex: 1;
};
