.card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    overflow: hidden;
}

.totalAmount {
    border-top: 1px solid rgba(0,0,0,0.3);
 }

.date {
    padding: 5px;
    margin-left: 5%;
}

.date > input {
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,1);
    outline: 1px solid rgba(0,0,0,1);
}

.title {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    font-weight: bold;
    padding-left: 10px;
}

.notes {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.notes textarea {
    min-width: 98.5%;
    max-width: 98.5%;
}

.addEntryButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.results {
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 5px;
}

.submissionButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 5px;
}


.submissionButtonContainer button {
    margin: 5px;
}

.inputFile {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.inputFile input {
    display: none;
}

.fileNames {
    display: flex;
    flex-direction: column;
}

.fileNames li {
    list-style-type: none;
}

.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    min-width: 0;
    flex: 1;
}

.table thead {
    width: 100%;
}

.tblOperation {
    width: 30px;
}

.tblAmount {
    text-align: center;
}

.entries {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    min-width: 0;
    flex: 1;
}

.accountButton {
    display: flex;
    height: 20px;
    width: 20px;
    justify-content: center;
}

.accountContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 5px;
    min-width: 0;
    flex: 2;
}

.accountContainer input {
    border: 1px solid rgba(0,0,0,1);
    outline: 1px solid rgba(0,0,0,1);
}

.entryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    padding: 5px;
    min-width: 0;
    flex: 1;
}

.entryButtonContainer {
    display: flex;
    padding: 5px;
    min-width: 0;
    justify-content: space-around;
    flex: 1;
}

.entryContainer {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.entryAmount {
    height: 15px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgba(0,0,0,1);
    outline: 1px solid rgba(0,0,0,1);
}

.errors {
    display: flex;
    position: absolute;
    top: 27px;
    flex: 1;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
